CLOUDLYNET_ENROLLMENT_TOKEN=eyJ2IjoxLCJ0ZW5hbnRfaWQiOiIwMDAwMDAwMC0wMDAwLTAwMDAtMzAyOS0wMDAwMDAwMDAwMDEiLCJlZGdlX2lkIjoiMTExMTExMTEtMTExMS0xMTExLTExMTEtMTExMTExMTExMTExIiwiYmFzZV91cmwiOiJodHRwOi8vY2xvdWRseW5ldC1lZGdlYWdlbnQtdGVzdHN1aXRlOjkwMDAiLCJhcGlfa2V5IjoiMTExMTExMTEtMTExMS0xMTExLTExMTEtMTExMTExMTExMTExLmRldnNlY3JldCJ9
CLOUDLYNET_BASE_URL=http://cloudlynet-edgeagent-testsuite:9000
GENIEACS_NBI_URL=http://cloudlynet-edgeagent-testsuite:7557
FTP_WATCH_DIR=/srv/nybsys-ftp/nybsysftp/uploads
BUFFER_DB=/var/lib/cloudlynet-agent/buffer.sqlite
